<div class="container container-fluid">
<div class="poll-show-container">
  <a href="/polls" style="color: #000000; font-size: 27px; margin-left: 30px;"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
  <div class="poll-title text-center">
    <h3>{{ poll.question }}</h3>
  </div>

  <div class="progress">
    {{#each poll.Choices}}
    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="{{count}}" aria-valuemin="0" aria-valuemax="100">
      <span>{{description}} : {{count}}</span>
    </div>
    {{/each}}
  </div>

  <div class="choice-show-container">
    {{#each poll.Choices}}
    <form action="/choices/{{id}}?_method=PUT" method="POST">
      <input type="hidden" name="id" value="{{id}}">
      <button type="submit" class="btn btn-info btn-lg">{{description}}</button>
    </form>
    {{/each}}
  </div>

</div>

</div>
